@model ForumTriage_Web.ViewModels.Home.UsersViewModel
<h2>Users</h2>
<p>Showing only the top 100 results.</p>

@foreach (var user in Model.Users)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h4>@user.display_name <small>@user.location</small></h4></div>

        <ul class="list-group">
            <li class="list-group-item"><a href="@user.link"><img src="@user.profile_image" alt="@user.display_name" /></a></li>
            <li class="list-group-item">User Id: @user.user_id</li>
            <li class="list-group-item">Reputation: @user.reputation</li>
            <li class="list-group-item">Link: <a href="@user.link">@user.link</a></li>
            <li class="list-group-item">Accept Rate: @user.accept_rate</li>
            <li class="list-group-item">Website Url: @user.website_url</li>
            <li class="list-group-item">Badges: Gold:@user.badge_counts.gold, Silver:@user.badge_counts.silver, Bronze:@user.badge_counts.bronze</li>
        </ul>

    </div>
}


